table, th, td{
    border: 1px solid green;
    border-collapse: collapse;
    text-align: center;
}
th,td {
    padding: 0rem;
    position: -webkit-sticky;
}
thead,
tfoot{
background: #fff;
}
thead {
    position: sticky;
    top: 0;
    border-bottom: 5px solid #097730;
}
body{
    font: 150%/1.6 system-ui;
    margin: 0;
    padding: 0rem 5rem 5rem;
}
tr:nth-child(even){
    background-color: green
}